@charset "utf-8";
/* CSS Document */
blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0}address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left;font-weight:400}abbr,body,fieldset,html,iframe,img{border:0}address,cite,dfn,em,i,var{font-style:normal}[hidefocus],summary{outline:0}li{list-style:none}h1,h2,h3,h4,h5,h6,small{font-size:100%}sub,sup{font-size:83%}code,kbd,pre,samp{font-family:inherit}q:after,q:before{content:none}textarea{overflow:auto;resize:none}label,summary{cursor:default}a,button{cursor:pointer}b,em,h1,h2,h3,h4,h5,h6,strong{font-weight:400}a,a:hover,del,ins,s,u{text-decoration:none}body,button,input,keygen,legend,select,textarea{font:12px/1.14 "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",Arial,sans-serif;-webkit-font-smoothing:antialiased;color:#333;outline:0}
body
{
    font-weight:normal;
    font-size:17px;
    line-height:24px;
    font-family:"Heiti SC";
/*    font-family:"Iowan Old Style Roman";*/
    color:#333333;
    margin-left:10px;
    margin-right:10px;
/*    word-spacing:6px;*/
    background:#f7f7f7
}

p{
    display:block;
    color:#333333;
}



table
{
    border-collapse:collapse;
    border-spacing:0;
    width:100%
}

table th,table td
{
    border:1px #cccccc
    solid;font-weight:normal;
    font-size:13px;
    line-height:20px;
    font-family:"Heiti SC";
    color:#555555;
    padding:5px 3px;
}

a
{
    color:#328fde;
    text-decoration:none;
}

img
{
    max-width:100%;
    margin:10px auto:
}

video
{
    max-width:100%;
    margin:10px auto:
}
